:root {
	--padding: 1rem;
	--core-columns: 2;
	--header-padding-left: var(--padding);
	--header-padding-right: var(--padding);
	--breakpoint: 1000px;
	--page-margin: calc(50vw - var(--breakpoint) / 2);
}

body {
	font-family: 'Computer Modern Serif', times;
	font-size: 16px;
	background-color: floralwhite;
	margin: 0;
	counter-reset: figure;
	margin-bottom: 3em;
	overflow-x: hidden;
	-moz-tab-size: 4;
	tab-size: 4;
}

.columns {
	column-count: var(--core-columns);
	column-gap: var(--padding);
}

.columns > p:first-child {
	margin-top: 0;
}

section, header {
	background: white;
}

#grid-container > * {
	grid-column: main;
}

#title {
	font-size: 4em;
}

p > code {
	color: navy;
	background: palegoldenrod;

}

@media (min-width:550px) {
	#grid-container {
		margin: 0 auto;
		width: calc(100vw - 4 * var(--padding));
		max-width: var(--breakpoint);
	}
}

@media (min-width:1000px) {
	#grid-container {
		display: grid;
		grid-auto-rows: minmax(3em, min-content);
		grid-template-columns: var(--page-margin) [left-start] repeat(2, minmax(200px, 2.5fr)) [right-start] minmax(3em, 1fr) [left-end] repeat(2, minmax(200px, 2.5fr)) [right-end] var(--page-margin);
		grid-auto-rows: min-content;
		align-items: flex-start;
		grid-gap: 1em;
		align-items: flex-end;
		align-content: flex-end;
		max-width: 100vw;
		width: 100%;
	}

	#grid-container > section {
		max-width: 100%;
		background: white;
	}

	#grid-container > section:nth-of-type(odd) {
		grid-column: left;
	}

	#grid-container > section:nth-of-type(even) {
		grid-column: right;
	}

	#grid-container > section:nth-of-type(even) + h2:nth-of-type(odd),
	#grid-container > section:nth-of-type(even) + :not(section) + h2:nth-of-type(odd) {
		grid-column: left-start/-1;
	}

	#grid-container > section:nth-of-type(odd) + h2:nth-of-type(odd),
	#grid-container > section:nth-of-type(odd) + :not(section) + h2:nth-of-type(odd) {
		grid-column: right-start/-1;
	}

	#grid-container > section:nth-of-type(even) + h2:nth-of-type(even),
	#grid-container > section:nth-of-type(even) + :not(section) + h2:nth-of-type(even) {
		grid-column: 1/left-end;
		text-align: right;
	}

	#grid-container > section:nth-of-type(odd) + h2:nth-of-type(even),
	#grid-container > section:nth-of-type(odd) + :not(section) + h2:nth-of-type(even) {
		grid-column: 1/right-end;
		text-align: right;
	}

	#grid-container > section:nth-of-type(odd).header {
		border-radius: 0 0 1em 0;
		grid-column: 1/left-end;
		padding-left: var(--page-margin);
	}

	#grid-container > section:nth-of-type(even).header {
		border-radius: 0 0 0 1em;
		grid-column: right-start/-1;
		padding-right: var(--page-margin);
	}

	.wide {
		grid-column: left-start / right-end;
	}

	#grid-container > * {
		grid-column: auto / span 2;
		margin: 0;
	}
}

figure {
	max-width: 100%;
}

figure:not(.no-counter) {
	counter-increment: figure;
}

pre {
	overflow: auto;
	max-width: 100%;
}

blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
  }
  blockquote p {
	display: inline;
  }

figure > figcaption, label {
	text-align: center;
	font-style: oblique;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	padding: 0.5em 0;
	margin-top: 1em;
	display: block;
}

label > input {
	background-color: palegoldenrod;
}

figure:not(.no-counter) > figcaption:before {
	content: 'Figure ' counter(figure) ': ';
}

#grid-container > header, #grid-container > section {
	padding: var(--padding);
}

/* The tiny grid with no content */

#grid-example, #grid-example > * {
	border: 2px solid black;
	border-radius: 0.5em;
}

#grid-example {
	display: grid;
	width: 50%;
	margin: 0 auto;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0.25em;
	padding: 0.5em;
    break-inside: avoid-column;
	page-break-inside: avoid; /*-- FF --*/
}

#grid-example > * {
	display: block;
	padding: 0.5em;
}

/* The grid figure */

#grid-placement-demo {
	display: grid;
	grid-template-columns: min-content repeat(3, 1fr);
	grid-auto-rows: minmax(3em, min-content);
	margin: 1em 0;
	align-items: flex-start;
	grid-gap: 0.5em;
	font-family: helvetica, sans-serif;
	font-size: 90%;
}

#grid-placement-demo > p {
	grid-column-end: span 2;
	margin: 0;
	color: #333;
}

#grid-placement-demo > :hover {
	outline: 2px solid lightblue;
}

#grid-placement-demo > h2 {
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	text-align: right;
	white-space: nowrap;
	padding-top: 1em;
	grid-row-end: span 2;
	width: 1.5em;
}

#grid-placement-demo > * {
	max-width: 100%;
	margin: 0;
}

#grid-placement-demo > img {
	width: 100%;
	object-fit: contain;
	filter: sepia(1) opacity(0.5);
}

#auto-flow-dense-demo {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 0;
}

#auto-flow-dense-demo > div {
	flex-grow: 1;
	border: 1px solid black;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	height: 100%;
}

#auto-flow-dense-demo > div > span {
	border: inherit;
	font-size: 2em;
	color: white;
}

#auto-flow-dense-demo > div > span.tall {
	grid-row: auto/span 2;
}

#auto-flow-dense-demo > div > span.wide {
	grid-column: auto/span 2;
}